.input {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: max-content;
  padding-left: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.2);

  input {
    padding: 0.8rem;
    background: none;
    border: none;
    outline: none;
  }
}
